@model  List<Project_63133302.Models.SanPhamGioHang>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutBanHang.cshtml";
}

<section class="h-screen bg-gray-100 pt-20">
    <h1 class="mb-10 text-center text-2xl font-bold">Giỏ hàng</h1>
    <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
        <div class="rounded-lg md:w-2/3">
            @foreach (var item in Model)
            {

                <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
                    <img src="@item.SanPham.Anh"
                         alt="product-image" class="w-full rounded-lg sm:w-40" />
                    <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between items-center">
                        <div class="mt-5 sm:mt-0">
                            <h2 class="text-lg font-bold text-gray-900">
                                @item.SanPham.TenSP
                            </h2>
                            <span>@item.SanPham.Gia</span>
                           
                        </div>
                                <input class="h-8 w-8 border bg-white text-center text-xs outline-none"
                                       type="number" value="@item.SoLuong"  readonly/>
                            <div class="flex items-center space-x-4">
                                <p class="text-sm">@(item.SanPham.Gia * item.SoLuong) </p>
                                <form action="/Home_63133302/XoaSanPhamTrongGioHang" method="post">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor"
                                             class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
                                            <path stroke-linecap="round"
                                                  stroke-linejoin="round"
                                                  d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                    </div>
                </div>
            }
        </div>
        <!-- Sub total -->
        <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
            <div class="mb-2 flex justify-between">
                <p class="text-gray-700">Tổng phụ</p>
                @{ 
                    var total = Model.Sum(m => m.SoLuong * m.SanPham.Gia);
                }
                <p class="text-gray-700">@total</p>
            </div>
            <div class="flex justify-between">
                <p class="text-gray-700">Shipping</p>
                <p class="text-gray-700">0</p>
            </div>
            <hr class="my-4" />
            <div class="flex justify-between">
                <p class="text-lg font-bold">Tổng thanh toán</p>
                <div class="">
                    <p class="mb-1 text-lg font-bold">@total</p>
                </div>
            </div>
            <a href="/DonHang_63133302/ThanhToan" class="mt-6 w-full px-2 rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">
                Thanh Toán
            </a>
        </div>
    </div>
</section>
